<html ng-app='GISHWHES' ng-controller='randomizer'>
    <head>
        <title>
            Greatest International Mascot Generator The World Has Ever Seen
        </title>
        <script type='application/ecmascript' src='https://code.jquery.com/jquery-2.1.4.js'> </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script type='application/ecmascript' src='/Gishwhes2015Item86/victor-0.2.6/build/victor.js'> </script>
        <script type='application/ecmascript' src='/Gishwhes2015Item86/segments.js'> </script>
        <script type='application/ecmascript' src='/Gishwhes2015Item86/randomizer.js'> </script>
        <link rel='stylesheet' type='text/css' href='/Gishwhes2015Item86/randomizer.css' />
    </head>
    <body>
        <div align=center>
            <h2>
                <br/> <br/>
                Greatest International Mascot Generator The World Has Ever Seen
                <br/>
            </h2>
            ({{components.head.size() * components.hat.size() * components.body.size()}} different combinations!)
        <table> <tr>
            <td width=110px>
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-left-md.svg' ng-click='components.hat.backward()'>
                <br /> <br /> <br /> <br /> <br />
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-left-md.svg' ng-click='components.head.backward()'>
                <br /> <br /> <br /> <br /> <br />
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-left-md.svg' ng-click='components.body.backward()'>
            </td>
            <td width=100%>
                <div id=wrap>
                    <div id=canvas>
                        <div segment-display component='components.body' transform-func='bodyTr()' zIndex='2'> </div>
                        <div segment-display component='components.head' transform-func='headTr()' zindex='1'> </div>
                        <div segment-display component='components.hat' transform-func='hatTr()' zindex='3'> </div>
                    </div>
                </div>

                <div id=shuffle ng-click='shuffle()' align=center>
                    <!-- {{ current('body').name.first + current('head').name.last }} -->
                    <img src='/Gishwhes2015Item86/shuffle.svg' height='50px' />
                    <!-- (or {{ current('head').name.first + current('body').name.last }}) -->
                </div>
            </td>
            <td width=110px>
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-right-md.svg' ng-click='components.hat.forward()'>
                <br /> <br /> <br /> <br /> <br />
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-right-md.svg' ng-click='components.head.forward()'>
                <br /> <br /> <br /> <br /> <br />
                <img class=button-left width=100px src='/Gishwhes2015Item86/chevron-right-md.svg' ng-click='components.body.forward()'>
            </td>
        </tr> </table>
    </body>
</html>
